# Exclude matterbridge binary
/matterbridge
/matterbridge.exe

# Exclude configuration file
matterbridge.toml

# Exclude IDE Files
.vscode

# profile directory for buildWithDocker.sh
/builder-home

#debug vs code
__debug_bin
